
/* Overload principal container */

.container{
  background-color: #f5f5f5;
}

/* Container */

.product-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
}
  
.input-container{
  display: none;

}

.products-container{
  display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
}

.filter-container{
  display: none;
}
.shop-container{
  display: flex;
    grid-column: 1/4;

}

/* Product */

.product-item{
  display: flex;
  flex-direction:column;
  width: 15rem;
  margin: 1rem;
  justify-content: space-between;
}

.product-item-image{
  display: flex;
  width: 250px;
  height: 250px;
}

.product-item-image > img {
  max-width: 100%;
  max-height: 100%;
}

/* Overload Wordpress Class */

.wc-block-grid__product-title {
  color: #707070;
  font-size:20px;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
}

.wc-block-grid__product-price {
  color: #707070;
  font-size:20px;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
}

.single_add_to_cart_button{
  display: inline-block; 
  background-color: var(--blue);
  font-size:12px;
  font-weight: bold;
  border-radius: 0px;
  height: 32px;
  width: 130px;
  align-items: center;
  color: white;
  border: none;
}

.product-item-add-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.product-item-add-block > form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-item-add-block > form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quantity{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.input-text{
  width: 2rem;
  padding: 0.5rem 0rem;
  font-size: 12px;
  text-align: center;
}

.wc-block-grid__product{
  padding: 40px!important;
}

.products-container > h1{
  font-weight: bold;
  font-size:50px;
}

.input-container>* {
  margin: 0rem 1rem;
  font-size: 13px;
  width: 8rem;
}

/* Background */

.background-img{
  grid-column: 1/4;
  width: 100%;
}

/* Search */
.woocommerce-product-search{
  display: flex;
  width: 8rem;
}

.woocommerce-product-search button {
  display: none;
}
.search-field{
  display: flex;
  background-color: var(--white);
  border: solid 2px var(--blue);
  border-radius: 0;
  font-size: 12px;
}

/* filter */

.filter-category{
  display: flex;
  flex-direction:column;
}

.orderby {
  display: flex;
  background-color: var(--white);
  border: solid 2px var(--blue);
  border-radius: 0;
  font-size: 12px;
  padding: 0.3rem;  
}

.line {
  height: 2px;
  width: 100%;
  background-color: #cecece;
  margin-bottom: var(--margin-bottom);
}

.filter-category > h3 {

  margin-bottom: 0px;
  grid-column: 2 / 3;
}

.category-title {
  margin-top: 1rem;
}

.default-input {
  background-color: var(--white);
  border: solid 2px var(--blue);
  border-radius: 0;
}

.checkbox {
  margin-right: 0.5rem;
}

.filter-item{
  margin: 0.25rem 0rem;
}

.filter-icon{
  filter: opacity(0.6);
  width: auto;
  height: 1.7rem;
}
.path{
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 1rem;
}

.filter-header{
  display: flex;
  margin-bottom: 2rem;
}
/* Responsive */

@media screen and (min-width: 1000px) {
.input-container{
  display: flex;
  grid-column: 2/3;
  margin: 0rem 2rem;
  margin-top: 2rem;
  height: 2.5rem;
  margin-left: 23rem;
}

.filter-container{
  display: flex;
  margin: 2rem;
  width: 60rem;
  background-color: white;
  padding: 1rem;
  flex-direction: column;
  margin-bottom: auto;
}
.shop-container{
  display: flex;
  grid-column: 2/3;
}
.products-container{
  display: flex;
  margin: 2rem;
  flex-direction:column;
  background-color: white;
  padding: 1rem;
}

}