/* Imports */
@font-face { 
  font-family: "AmericanTypwrterITCW01--731025"; 
  src: url("https://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0c0f4d28-4c13-4e84-9a36-e63cd529ae86.woff") format("woff");
}

@font-face { 
  font-family: "Mom´sTypewriter"; 
  src: url("https://static.wixstatic.com/ufonts/240db9_449d0f932e8445a3bb5a938c9cd6c747/woff2/file.woff2") format("woff2");
}

@font-face { 
  font-family: "Lato-Light"; 
  src: url("https://fonts.gstatic.com/s/lato/v14/2hXzmNaFRuKTSBR9nRGO-A.woff2") format("woff2");
}

/* Animations */

@keyframes openBefore {
  50% {
    transform: translateY(0px);
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px);
    transform: rotate(45deg);
  }
}

.button-burger .open .lines-burger::after {
transform: translateY(12px);
transform: rotate(-45deg);
animation: openAfter 0.5s;
}

@keyframes openAfter {
  50% {
    transform: translateY(0px);
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(0px);
    transform: rotate(-45deg);
  }
}


/* Variables */
:root {
  --blue: #02253A;
  --white: #FFFFFF;
  --table-background: #303f4d;
  --blue-light: #AFBED1;
  --white-light: #FFFFFF55;
  --red: #DC241F;
  --yellow: #FFE18C;

  --header-height: 120px;
  --margin-bottom: 16px;
  --padding-horizontal: 24px;
}

/* Reset css */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Mobile-first */
/* Global */
body { 
  width: 100vw 
}

.container {
  margin-top: var(--header-height);
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: auto;
}

h1 {
  font-family: "AmericanTypwrterITCW01--731025";
  font-size: 26px;
  text-transform: uppercase;
}

h2 {
  font-family: "AmericanTypwrterITCW01--731025";
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: var(--margin-bottom);
  grid-column: 2 / 3;
}

h3 {
  font-family: "AmericanTypwrterITCW01--731025";
  font-size: 20px;
  color: var(--blue);
  margin-bottom: var(--margin-bottom);
  grid-column: 2 / 3;
}

h4 {
  font-family: "AmericanTypwrterITCW01--731025";
  font-size: 18px;
  margin-bottom: var(--margin-bottom);
  grid-column: 2 / 3;
}

p {
  font-family: "Lato-Light";
  font-size: 16px;
  margin-bottom: var(--margin-bottom);
  grid-column: 2 / 3;
}

ul {
  grid-column: 2 / 3;
  margin-bottom: var(--margin-bottom);
}

li {
  font-family: "Lato-Light";
  font-size: 16px;
  margin-inline-start: 16px;
  overflow-x: visible;
}

table {
  background-color: var(--table-background);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  flex-wrap: wrap;
}

td {
  width: 100%;
  height: 300px;
  border: solid 1px var(--blue);
  font-family: "AmericanTypwrterITCW01--731025";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

td > strong {
  font-size: 22px;
  padding-bottom: 16px;
}

.margin-top {
  margin-top: 16px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.bubble-link-dark {
  font-weight: 700;
  color: #FFFFFF;
  background-color: var(--blue-light);
  padding: 6px;
  margin: 16px 0 16px auto;
  border-radius: 12px;
  transition: all .5s ease;
}

.bubble-link-light {
  font-weight: 700;
  color: #FFFFFF;
  background-color: var(--white-light);
  padding: 6px;
  margin: 16px 0 16px auto;
  border-radius: 12px;
  transition: all .5s ease;
}

.bubble-link-dark:hover, .bubble-link-light:hover {
  background-color: var(--yellow);
  color: var(--blue) !important;
}

/* Header */

.text-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.margin-top {
  margin-top: 16px;
}

.header {
  width: 100vw;
  height: var(--header-height);
  background-color: var(--white);
  box-shadow: 0 3px 10px #313131;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-link {
  text-decoration: none;
  margin: 0;
}

.logo {
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.archibald {
  height: 70px;
}

.lines {
  justify-content: center;
  align-items: end;
  width: 40vw;
  margin-right: 6vw;
}

.line-blue, .line-white, .line-red {
  width: 250px;
  height: 6px;
}

.line-blue {
  background-color: var(--blue);
}

.line-white {
  background-color: var(--white);
}

.line-red {
  background-color: var(--red);
}

.button-shop {
  background-color: var(--blue);
  color: white;
  border-right: solid 1px white;
  justify-content: center;
  align-items: center;
  width: 8vw;
}

.button-basket {
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  width: 4vw;
}

.button-menu {
  border-right: solid 1px grey;
  justify-content: center;
  align-items: center;
  width: 8vw;
  cursor: pointer;
}

.button-profil {
  justify-content: center;
  align-items: center;
  width: 4vw;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 76px;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 9998;
  transition: all .5s ease-in-out;
  list-style-type: none;
  list-style: none;
  list-style-image: none;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.menu li a {
  text-decoration: none;
  margin: 0;
  font-size: 1.25vw;
  color: var(--blue);
  font-weight: bold;
}

.menu-burger {
  display: none;
}

/* Animation Header */
.menu.open {
  transform: translateY(96px);
}



/* Blocks */

.wp-block-table {
  grid-column: 1 / 4;
}

.wp-block-group__inner-container {
  display: grid;
  grid-template-rows: auto;
  grid-column: 2 / 3;
}

.wp-block-cover {
  padding: 0;
  grid-column: 1 / 4;
}

.wp-block-cover__inner-container {
  width: 100% !important;
  height: auto;
  padding: 24px 0;
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: auto;
}

.wp-block-gallery {
  grid-column: 2 / 3;
}

.wp-block-image {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3;
}

.wp-block-image > img {
  height: auto;
}

/* Page Accueil */

.main-banner-with-logo {
  height: 200px;
}

.main-banner-with-logo > .wp-block-cover__inner-container {
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.main-banner-with-logo > .wp-block-cover__inner-container > .wp-block-image{
  width: 100%;
  height: auto;
  grid-row: 2 / 3;
}

.typewriter {
  font-family: "AmericanTypwrterITCW01--731025";
  font-size: 18px;
  padding-top: 16px;
}

.hashtag {
  font-family: "AmericanTypwrterITCW01--731025";
  font-size: 30px;
  letter-spacing: 4px;
  margin: 24px 0;
}

/* Page with index */

.main-banner {
  height: var(--header-height);
  align-items: flex-end;
}

.main-banner > .wp-block-cover__inner-container > h1 {
  text-align: right;
  grid-column: 2 / 3;
}

.page-index {
  font-size: 18px;
  margin: 8px 0;
}

.banner {
  font-family: "Mom´sTypewriter";
  font-size: 18px;
  background-color: var(--blue);
  color: var(--white);
  padding: 24px;
  grid-column: 1 / 4;
}

.banner-title {
  font-family: "Mom´sTypewriter";
}

.banner-white {
  font-family: "Mom´sTypewriter";
  font-size: 18px;
  background-color: var(--white);
  color: var(--blue);
  padding: 24px;
  grid-column: 1 / 4;
}

.alert {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  color: var(--blue);
}

.media-and-text {
  grid-column: 2 / 3;
}

/* .media-pos-n has to have a grid-row like : n / n+1 */
/* if no position given, media stay in last position */
.media-pos-1 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 1 / 2;
}

.media-pos-2 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 2 / 3;
}

.media-pos-3 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 3 / 4;
}

.media-pos-4 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 4 / 5;
}

.media-pos-5 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 5 / 6;
}

.media-pos-6 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 6 / 7;
}

.media-pos-7 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 7 / 8;
}

.media-pos-8 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 8 / 9;
}

.media-pos-9 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 9 / 10;
}

.media-pos-10 > .wp-block-group__inner-container > .wp-block-image {
  grid-row: 10 / 11;
}

.p-image {
  display: flex;
  align-items: center;
}

.p-image > img {
  height: auto;
  margin-right: 8px;
}

.group-banner {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  background-color: var(--blue);
  color: #FFFFFF;
  padding: 12px 0;
  margin-bottom: var(--margin-bottom);
  grid-column: 1 / 4;
}

/* Page Contact */

form {
  margin-bottom: 16px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-column: 2 / 3;
}

input {
  grid-column: 1 / 3;
  padding: 16px;
  font-family: 'Lato Light';
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: #AFBED155;
}

input[type="submit"] {
  grid-column: 1 / 2;
  font-weight: 900;
  background-color: #AFBED1;
  cursor: pointer;
}

#city {
  grid-column: 1 / 3;
}

textarea {
  grid-column: 1 / 3;
  padding: 16px;
  font-family: 'Lato Light';
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: #AFBED155;
}

/* Page Blog and news */

.newsletter-form {
  grid-template-columns: 2fr 1fr;
  padding: 16px;
  background-color: var(--blue);
  color: var(--white);
}

.newsletter-form > p {
  grid-column: 1 / 3;
}

.newsletter-form > input {
  background-color: var(--white);
  border: solid 2px var(--blue-light);
}

.newsletter-form > input:focus {
  background-color: var(--blue-light);
  border: solid 2px var(--table-background);
}

#nl-first-name {
  grid-column: 1 / 2;
}

.newsletter-form > input[type="submit"] {
  background-color: var(--blue-light);
  cursor: pointer;
}

/* Footer */

footer {
  width: 100vw;
  height: var(--footer-height);
  background-color: var(--blue);
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.footer-logo {
  width: 140px;
  margin-left: 45px;
}

.footer-menus {
  list-style-type: none;
  list-style: none;
  list-style-image: none;
}

.footer-menus li {
  margin-bottom: 25px;
}

.footer-menus li a {
  text-decoration: none;
  color: var(--white);
}

.footer-text {
  line-height: 30px;
}

.line-title {
  background-color: var(--white);
  width: 70px;
  height: 3px;
  margin-bottom: var(--margin-bottom);
}

.line-grey {
  background-color: grey;
  width: 60vw;
  height: 1px;
  margin-bottom: var(--margin-bottom);
}

#first-column, #second-column, #third-column, #fourth-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#first-column {
  margin-top: 100px;
  width: 30%;
}

#second-column {
  margin-top: 50px;
  width: 15%;
}

#third-column {
  margin-top: 115px;
  width: 15%;
}

#fourth-column {
  width: 25%;
}

/* ------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 450px) {

  .container {
    grid-template-columns: 64px 1fr 64px;
  }

  .text-left > .wp-block-cover__inner-container {
    grid-template-columns: 64px 1fr 30%;
  }

  .text-right > .wp-block-cover__inner-container {
    grid-template-columns: 30% 1fr 64px;
  }

  .group-banner {
    grid-template-columns: 64px 1fr 64px;
  }

  .banner {
    padding: 24px 64px;
  }
}

@media screen and (min-width: 600px) {
  input {
    grid-column: auto;
  }
}

/* ------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 800px) {

  .container {
    grid-template-columns: 64px 1fr 64px;
  }

  .text-left > .wp-block-cover__inner-container {
    grid-template-columns: 64px 400px 1fr;
  }

  .text-right > .wp-block-cover__inner-container {
    grid-template-columns: 1fr 400px 64px;
  }

  .group-banner {
    grid-template-columns: 64px 1fr 64px;
  }

  .banner {
    padding: 32px 64px;
  }

  .main-banner-with-logo {
    height: 350px;
  }

  .main-banner {
    height: 350px;
  }

  .media-and-text > .wp-block-group__inner-container {
    display: block;
  }

  .media-and-text > .wp-block-group__inner-container > .wp-block-image {
    width: 50%;
    shape-outside: inherit;
  }

  .media-left > .wp-block-group__inner-container > .wp-block-image {
    float: left;
    margin-right: 16px;
  }

  .media-right > .wp-block-group__inner-container > .wp-block-image {
    float: right;
    margin-left: 16px;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

/* ------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 1000px) {

  .container {
    grid-template-columns: 1fr 900px 1fr;
  }

  .main-banner-with-logo {
    height: 670px;
    background-attachment: fixed;
    background-size: 100% auto;
  }

  .main-banner {
    height: 670px;
  }

  .hashtag {
    font-size: 60px;
    letter-spacing: 10px;
  }

  .typewriter {
    font-size: 30px;
  }

  p, li { 
    font-size: 20px 
  }

  h1 { font-size: 44px }
  h2 { font-size: 24px }  
  h3 { font-size: 24px }

  .wp-block-table {
    grid-column: 2 / 3;
  }

  .text-left > .wp-block-cover__inner-container {
    grid-template-columns: calc((100% - 900px) / 2) 450px 3fr;
  }

  .text-right > .wp-block-cover__inner-container {
    grid-template-columns: 3fr 450px calc((100% - 900px) / 2)
  }

  .group-banner {
    grid-template-columns: 1fr 900px 1fr;
  }

  .banner-title {
    font-size: 24px;
  }

  .banner {
    font-size: 24px;
    padding: 32px calc((100% - 900px) / 2);
  }

  .banner-white {
      font-size: 24px;
      padding: 32px calc((100% - 900px) / 2);
  }
}

/* ------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 1440px) {

  .container {
    grid-template-columns: 1fr 1200px 1fr;
  }

  .main-banner-with-logo {
    height: 700px;
  }

  .main-banner {
    height: 700px;
  }

  .text-left > .wp-block-cover__inner-container {
    grid-template-columns: calc((100% - 1200px) / 2) 450px 3fr;
    padding: 64px 0;
  }

  .text-right > .wp-block-cover__inner-container {
    grid-template-columns: 3fr 450px calc((100% - 1200px) / 2);
    padding: 64px 0;
  }

  .group-banner {
    grid-template-columns: 1fr 1200px 1fr;
  }

  .banner {
    font-size: 24px;
    padding: 32px calc((100% - 1200px) / 2);
  }

  .banner-white {
      font-size: 24px;
      padding: 32px calc((100% - 1200px) / 2);
  }
}

@media screen and (max-width: 850px) {

  :root {
      --basket: var(--blue);
  }

  .menu, .lines, .button-shop, .button-menu, .button-profil {
      display: none;
  }

  .logo {
      width: 50vw;
  }

  .archibald {
      height: 60px;
  }

  .button-basket {
      background-color: var(--white);
      width: 30vw;
      justify-content: end;
  }

  .button-burger {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
    }

    .lines-burger {
      width: 35px;
      height: 2px;
      background: var(--blue);
      transition: all .5s ease-in-out;
    }

    .lines-burger::before,
    .lines-burger::after {
      content: '';
      position: absolute;
      width: 35px;
      height: 2px;
      background: var(--blue);
      transition: all .5s ease-in-out;
    }

    .lines-burger::before {
      transform: translateY(-12px);
    }

    .lines-burger::after {
      transform: translateY(12px);
    }

    .menu-burger {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 75vw;
      height: 100%;
      background-color: var(--blue);
      position: fixed;
      top: 96px;
      right: -75vw;
      z-index: 9998;
      transition: all .5s ease-in-out;
      padding-top: 15px;
      list-style-type: none;
      list-style: none;
      list-style-image: none;
  }
  
  .menu-burger li {
      color: var(--white);
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 25px;
      margin-top: 25px;
  }

  .menu-burger li a {
      text-decoration: none;
      margin: 0;
      font-size: 16px;
      color: var(--white);
      font-weight: bold;
  }

  /* Animation Header */

    .button-burger.open .lines-burger {
      background: transparent;
    }

    .button-burger.open .lines-burger::before {
      transform: translateY(-12px);
      transform: rotate(45deg);
      animation: openBefore 0.5s;
    }

    .menu-burger.open {
      transform: translateX(-75vw);
    }
}

/* Responsive Footer */

@media screen and (max-width: 850px) {

  .footer-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-logo {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 0;
  }

  .line-title {
      margin-left: 30%;
  }

  #first-column {
      align-items: center;
  }

  #first-column, #second-column, #third-column, #fourth-column {
      margin-top: 25px;
      width: 80%;
  }
}